# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.kiro
.nuxtrc
.vercel
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.capacitor.example
dev-mobile.sh

# Nuxt dev-server host-named build cache (created by `nuxt dev --host`)
0.0.0.0/
