@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    /* Override default pink color */
    --color-pink-50: #fff0f3;
    --color-pink-100: #ffe2e9;
    --color-pink-200: #ffcad8;
    --color-pink-300: #ff9fb7;
    --color-pink-400: #ff6992;
    --color-pink-500: #ff2465;
    --color-pink-600: #ed115d;
    --color-pink-700: #c8084f;
    --color-pink-800: #a80949;
    --color-pink-900: #8f0c44;
    --color-pink-950: #500121;

    /* Override default neutral color */
    --color-neutral-50: #f6f6f6;
    --color-neutral-100: #e7e7e7;
    --color-neutral-200: #d1d1d1;
    --color-neutral-300: #b0b0b0;
    --color-neutral-400: #888888;
    --color-neutral-500: #6d6d6d;
    --color-neutral-600: #5d5d5d;
    --color-neutral-700: #4f4f4f;
    --color-neutral-800: #454545;
    --color-neutral-900: #3d3d3d;
    --color-neutral-950: #171717;
}

body {
    @apply bg-neutral-950;
}

h1,h2,h3,h4,h5,h6, p, a {
    @apply text-white;
}